 /* .container {
    box-sizing: border-box;
   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
    background: url('https://i.pinimg.com/736x/83/5f/e4/835fe4c3456c3a8475405498266af4fa--vintage-black-christmas-.jpg'); 
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.card_container {
    width: 32.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}

.card {
    position: relative;
    background: rgba(0,0, 0,.7);
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 25px;
    box-shadow: 0 5px 25px rgb(1, 1, 1/20%);
    border-radius: 10px;
    overflow: hidden;
}
.card_img{
    max-height: 200px;
}
.card button{
    background: rgba(0,0, 0,.4);
    cursor: pointer;
    transition: 0.2s
}
.card button:hover{
    background: rgba(0,0, 0,.7);    
    transition: 0.5s;
}
.card_img img{
    max-width: 100%;
    height: auto;

}
.card_info{
    position: relative;
    padding: 10px 20px 20px;
}
.card_info .span, .span2{
    color: #fff;
    font-size: 1em;
    margin-bottom: 5px;
}
.card_info p ul{
    display: inline-block;
    margin-right: 0.5rem;
}

.card_info p li{
    list-style: none;
    display: inline-block
} 
 */


 /* .title{
     text-align: center;
     font-size: 40px;
     color: #f0f0ff;
     margin-top: 2rem;
     font-weight: 100;
 } */

 .container_home{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box; 
     background: url('https://i.pinimg.com/736x/83/5f/e4/835fe4c3456c3a8475405498266af4fa--vintage-black-christmas-.jpg'); 
     -webkit-background-size: cover;
     background-size: cover;
     background-attachment: fixed;
     min-height: 100vh;
     width: 100%;
     /* max-width: 1200px; */
     /* display: flex;
     justify-content:center;
     align-items: center;
     flex-wrap: wrap;
     flex-direction: column; */
     
     /* height: 43%; */
     /* justify-content: center; */
     /* display: flex;
     flex-wrap: wrap;
     margin: auto; */
 }
 .contenedor{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    width: 100%;

   

 }
.card{
    background:rgba(0,0, 0,.7) ;
    width: 20%;
    color: #fafafa;
     height: 370px; 
    border-radius: 9px;
    box-shadow: 0 2px 2px rgba(0 0 0 0.2);
    overflow: hidden;
    margin: 1.5rem;
    text-align: center;
    transition: all 0.25s;
    box-sizing: border-box;
    /* display: flex;
    flex-wrap: wrap; */
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0 0 0 1);
}
.card button{
    background: rgba(0,0, 0,.3);
    cursor: pointer;
    transition: 0.2s
}
.card button:hover{
    background: rgba(0,0, 0,.7);    
    transition: 0.5s;
}
.card img{
    width: 100%;
    height: 100%;
}

.card h3{
 font-weight: 600;
}

.card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.card p li{
    list-style: none;
    display: inline-block

}